{% extends "base.html" %}
{% load static %}
    {% block content %}
            <main>
                <section class="blog-section">
                    <h2 class="section-title">LATEST NEWS</h2>

                    <div class="blog-posts-wrapper">
                        {% for apost in posts %}

                        <article class="blog-post container">    
 
                            <a href="{% url 'blog_detail' apost.id%}" class="blog-post-link">
                            <img src="{{apost.image.url}}" alt="news " class="blog-post-thumbnail"  >
                            <h5 class="blog-post-title" style="color: blue;">{{ apost.title }}</h5>
                            </a>
                                <p>{{apost.body | slice:":150" }}...
                                  
                            </p>
                            <div class="collapse" id="collapseExample">
                                <div class="card card-body">
                                    {{apost.body }}
                                </div>
                            </div>

                            <hr class="badge-warning">
                            <p class="blog-post-meta">
                                <span class="post-published-date">{{ apost.created_on }}</span>
                                {{apost.comments.count}} COMMENTS
                                
                            </p> 
                        
                        
                        </article>
                        {% endfor %}
                      
                    </div>
                </section>
                <footer>Live Resume @ <a href="https://www.bootstrapdash.com" target="_blank" rel="noopener noreferrer">BootstrapDash</a>. All Rights Reserved 2020</footer>
            </main>
    {% endblock %}
    {% block js %}
    {% include 'scripts.html' %}
    {% endblock js %}