{% extends "base.html" %}
{% load static %}
{% load widget_tweaks %}
{% block content %}
        <main>
            <section class="contact-section">
                <h2 class="section-title">GET IN TOUCH</h2>
                <p class="mb-4">If you’d like to talk about a project, our work or anything else then get in touch.</p>
                
                <div class="contact-cards-wrapper">
                    <div class="contact-card">
                        <h6 class="contact-card-title">CALL ME</h6>
                        <p class="contact-card-content">{{b.profile.phone_number}}</p>
                    </div>
                    <div class="contact-card">
                        <h6 class="contact-card-title">Email Me</h6>
                        <p class="contact-card-content">{{b.profile.email}}</p>
                    </div>
                </div>

                <form action="{% url 'contactt' %}" class="contact-form " method="POST">
                    {% csrf_token %}
                    
                    <div class="form-group form-group-name validate">
                        {% render_field form.name  class="form-control" id="name" placeholder="NAME" %}    
                    </div>
                    <div class="form-group form-group-email">
                        {% render_field form.email  class="form-control" id="email" placeholder="Email" %}

                    </div>
                    <div class="form-group">
                  {% render_field form.message  class="form-control" id="message" placeholder="MESSAGE" %}

                    </div>
                    <button type="submit" class="btn btn-outline-primary form-submit-btn">SEND MESSAGE</button>
                </form>

            </section>
           <!--<section class="location-section">
                <h5 class="section-title">MY LOCATION</h5>

                <div class="map-wrapper embed-responsive embed-responsive-16by9"">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6780.360388122327!2d-73.94920877520023!3d40.64704896956227!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c25b449a659007%3A0xc4308a4849d49943!2s135%20E%2029th%20St%2C%20Brooklyn%2C%20NY%2011226%2C%20USA!5e0!3m2!1sen!2sin!4v1582520722599!5m2!1sen!2sin" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" class="embed-responsive-item"></iframe>
                </div>
            </section> --> 
            <footer>Live Resume @ <a href="" target="_blank" rel="noopener noreferrer">BootstrapDash</a>. All Rights Reserved 2020</footer>
        </main>
    
{% endblock %}
{% block js %}
{% include 'scripts.html' %}
{% endblock js %}