{% extends "base.html" %}
{% load static %}
{% block content %}
        <main>
            <section class="portfolio-section">
                <h2 class="section-title">PORTFOLIO</h2>
                
                <div class="portfolio-wrapper ">
                    {% for proj in obj %}
                        <figure class="portfolio-item hover-box">
                            <div class="wow fadeInUp">
                                <img src="{{ proj.image.url }}" alt="project" class="portfolio-item-img img-fluid z-depth-5 " >

                            </div>
                                <figcaption class="portfolio-item-details overlay">
                                    <h2 class="portfolio-item-title">Title :&nbsp;{{ proj.title }}</h2>
                                    <h5 class="portfolio-item-title">Technology :&nbsp;{{ proj.technology }}</h5>
                                    <p class="portfolio-item-description">Description:&nbsp;{{ proj.description | slice:":200" }}...
                                    </p>

                                    <a href="{% url 'project_det'  pk=proj.id %}"> Read More </a>

                                </figcaption>

                        </figure>
                    {% endfor %}
                </div>
            </section>
            <footer>
                Live Resume @ <a href="" target="_blank" rel="noopener noreferrer">BootstrapDash</a>. All Rights Reserved 2020
            </footer>
        </main>
   {% endblock %}
