{% extends "base.html" %}
{% load widget_tweaks %}
{% load cloudinary %}
{% block content %}
<main>
    <section class="blog-section">
        <div class="row">
            <div class="col-sm-7" >
                <h1 class="section-title text-monospace text-center">{{ post.title }}</h1>
                <div class="">
                    {% cloudinary post.image width=600  %}
                    
                    </br>
                    <small>
                        {{ post.created_on.date }} |&nbsp;
                        Categories:&nbsp;
                        {% for category in post.categories.all %}
                        <a href="{% url 'blog_category' category.name %}">
                            {{ category.name }}
                        </a>&nbsp;
                        {% endfor %}
                    </small>
                </div>
               
                <hr class="badge-success size1">
                </br>
                <p>{{ post.body |linebreaks}}</p>
                <hr class="badge-success">
                <h3 class="text-center mt-5 text-monospace" >Leave a comment</h3>
                    <form action=""  class="mb-3" method="POST">
                        {% csrf_token %}
                        <div class="md-form md-outline ">
                            <input type="text"name="author" id="prefixInside2" class="form-control">
                            <label for="prefixInside2">Your name</label>
                        </div>
                       
                        <div class="md-form md-outline">
                            <textarea id="form75" class="md-textarea form-control" name="body" rows="4"></textarea>
                            <label for="form75">Write a comment</label>
                        </div>
                        <button type="submit" class="  btn btn-outline-success btn-sm">Submit</button>
                    </form>
            </div>
            {% if comments %}
            <div class=" card col-sm-4 mt-5 ml-5 ">
                <h3 class=" text-center text-monospace mt-3">Comments</h3>
                {% for comment in comments %}
                <p>  
                    <small class="text-monospace">
                        On {{comment.created_on.date }}&nbsp;
                        <b class="green-text">{{ comment.author }}</b> commented: 
                    </small> 
                </p>
                <p class="text-monospace">{{ comment.body}}</p>
                <hr class="badge-info">
                {% endfor %}
            </div>
            {% endif %}
        </div>
    </section>
</main>
{% endblock %}
{%block js%}
<script>
    document.getElementById("hide").style.display = "none";
    
    
</script>
{%endblock js%}