{% extends "base1.html" %}
{% load widget_tweaks %}
{% load static %}
{% block page_content %}
<h1>Projects</h1>


<form method="post"  novalidate>
    {% csrf_token %}
    {% include 'includes/bs4_form.html' with form=form %}
    <button type="submit" class="btn btn-outline-success" >Submit</button>
</form>
<div class="row">
    {% for project in obj %}
    <div class="col-md-4">
        <div class="card sm-2">
            <img class="card-img-top" class="img-fluid"  style="height:15% ;" src="{{ project.image.url}}">
            <div class="card-body">
                <h5 class="card-title ">{{ project.title }}</h5>
                <p class="card-text">{{ project.description | slice:":200" }}...</p>
                <a href="{% url 'project_det'  pk=project.id %}" class="btn btn-outline-primary">
                    Read More
                </a>
                
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}